@model City
@{
    ViewBag.Title = "Edit City";
    Layout = "_AdminLayoutWO";
    IEnumerable<State> states = ViewData["States"] as IEnumerable<State>;
    IEnumerable<Country> countries = ViewData["Countries"] as IEnumerable<Country>;
    IEnumerable<FireCode> fireCodes = ViewData["FireCodes"] as IEnumerable<FireCode>;
}
<div class="bg-dark m-1 p-1"><h4 style="color:white">Edit City: @Model.Name</h4></div>
<form asp-controller="City" asp-action="Edit" method="post">
    <input type="hidden" asp-for="CityID" />
    <div class="form-group">
        <label asp-for="Country"></label>
        <div><span asp-validation-for="Country" class="text-danger"></span></div>
        <select asp-for="Country">
            <option>Please select one</option>
            @foreach (Country country in countries)
            {
                @if (Model.CityID != 0 && country.Name == Model.Country)
                {
                    <option value="@country.Name" selected" >@country.Name</option>
                }
                else
                {
                    <option value="@country.Name">@country.Name</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="State"></label>
        <div><span asp-validation-for="State" class="text-danger"></span></div>
        <select asp-for="State">
            <option>Please select one</option>
            @foreach(State state in states)
            {
                @if (Model.CityID != 0 && state.Name == Model.State)
                {
                    <option value="@state.Name" selected" >@state.Name</option>
                }
                else
                {
                    <option value="@state.Name">@state.Name</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CurrentFireCode"></label>
        <div><span asp-validation-for="CurrentFireCode" class="text-danger"></span></div>
        <select asp-for="CurrentFireCode">
            <option>Please select one</option>
            @foreach(FireCode firecode in fireCodes)
            {
                @if (Model.CityID != 0 && firecode.Name == Model.CurrentFireCode)
                {
                    <option value="@firecode.Name" selected" >@firecode.Name</option>
                }
                else
                {
                    <option value="@firecode.Name">@firecode.Name</option>
                }
            }
        </select>
    </div>
    <div class=" text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="List" class="btn btn-secondary">Cancel</a>
    </div>
</form>