@model JobViewModel
<input type="hidden" asp-for="CurrentJob.JobID" />
<input type="hidden" asp-for="CurrentJob.Status" />
<input type="hidden" asp-for="CurrentJob.EngID" />
<div class="form-group row">
    <label asp-for="CurrentJob.Name" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJob.Name" class="text-danger"></span></div>
    <input asp-for="CurrentJob.Name" class="form-control col-sm-7" />
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.JobNum" class="col-sm-2 col-form-label"></label>
    <div>
        <input asp-for="CurrentJob.JobNum" class="form-control" style="width:auto" />
        <span asp-validation-for="CurrentJob.JobNum" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.JobType" class="col-sm-2 col-form-label"></label>
    <div class="text-danger"><span asp-validation-for="CurrentJob.JobType"></span></div>
    <custom-select select-for="JobType" asp-for="CurrentJob.JobType" selected-value="@Model.CurrentJob.JobType"></custom-select>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.PO" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJob.PO" class="text-danger"></span></div>
    <input asp-for="CurrentJob.PO" class="form-control col-sm-7" />
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.ShipDate" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJob.ShipDate" class="text-danger"></span></div>
    <input asp-for="CurrentJob.ShipDate" class="form-control col-sm-7" />
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.LatestFinishDate" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJob.LatestFinishDate" class="text-danger"></span></div>
    <input asp-for="CurrentJob.LatestFinishDate" class="form-control col-sm-7" />
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.Cust" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJob.Cust" class="text-danger"></span></div>
    <input asp-for="CurrentJob.Cust" class="form-control col-sm-7" />
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.Contractor" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJob.Contractor" class="text-danger"></span></div>
    <input asp-for="CurrentJob.Contractor" class="form-control col-sm-7" />
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.JobCountry" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJob.JobCountry" class="text-danger"></span></div>
    <custom-select select-for="Country" selected-value="@Model.CurrentJob.JobCountry" asp-for="CurrentJob.JobCountry"></custom-select>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.JobState" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJob.JobState" class="text-danger"></span></div>
    <custom-select select-for="State" selected-value="@Model.CurrentJob.JobState" asp-for="CurrentJob.JobState"></custom-select>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.JobCity" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJob.JobCity" class="text-danger"></span></div>
    <custom-select select-for="City" selected-value="@Model.CurrentJob.JobCity" asp-for="CurrentJob.JobCity"></custom-select>
</div>
<div class="form-group row">
    <label asp-for="CurrentJob.SafetyCode" class="col-sm-2 col-form-label"></label>
    <div><span asp-validation-for="CurrentJob.SafetyCode" class="text-danger"></span></div>
    <custom-select asp-for="CurrentJob.SafetyCode" selected-value="@Model.CurrentJob.SafetyCode" select-for="FireCode"></custom-select>
</div>